@charset "utf-8";
/* CSS Document */
/*
* {
	border:dashed 1px black;
}
*/
a:hover {
	text-decoration:underline;
}

a:link, a:active, a:visited {
	color:#13AD3C;
	text-decoration:none;
}

p, li, h6 {
	margin:0px;
	padding:0px;
}

body {
	background-image: url(fb-field.jpg);
	background-position: center top;
	background-size: 100% auto;
	background-color:#F0F0F0;
	margin:0;
}

.spacing {
	height:20px;
}

#backgroundHeader {
	z-index:1;
	height:70px;
	width:150%;
	position:fixed;
	margin-top:0px;
	margin-left:-50px;
	background-color:#FFFFFF;
	box-shadow: 0px 0px 1px 1px #666666;
}

#container {
	width:1000px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	z-index:2;
	height:70px;
	width:1000px;
	position:fixed;
}

#logo {
	float:left;
	background: url(logo_grey.png);
	background-size:cover;
	height:60px;
	width:205px;
	margin-top:5px;
	list-style:none;
}

#nav {
	float:right;
	list-style:none;
	position:relative;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	margin:20px 0px 0px 0px;
}

#nav li {
	float:right;
	position:relative;
	height:45px;
	margin:0px;
	padding:5px 10px 5px 10px;
	list-style:none;
}

#nav a {
	display:block;
	color:#656565;
}

#topContainer {
	width:948px;
	margin-top:60px;
	padding:10px 25px 10px 25px;
	background-color:#E0E0E0;
	border-radius: 10px;
}

#topContainer h3 {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:100;
	text-align:center;
	line-height:1.5em;
}

#topContainer h4 {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:100;
	text-align:center;
	line-height:1.5em;
}

#topContainer h4 b {
	color:#F00
}

#midContainer {
	margin:0;
	padding:0;
	background-color: #FFFFFF;
	border-radius:10px;
	overflow:auto;
}

#leftContainer {
	width:600px;
	float:left;
	margin:0px 0px 0px 5px;
	padding:10px 0px 5px 20px;
}

#rightContainer {
	width:330px;
	float:right;
	margin:0px 5px 0px 0px;
	padding:10px;
	text-align:center;
	border-left:solid 1px #EBEBEB;
}

#leftContainer h6 {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px
}

#leftContainer ul li {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	list-style:none;
}

#leagueSettings, #pointSettings {
	float:left;
}

#rosterSpots {
	float:right;
}

.faq li h6 {
	margin-bottom:10px;
	padding-right:10px;
}

.faq li p {
	padding:0px 50px 0px 20px;
	margin-bottom:30px;
}

#button {
	margin:0px 0px 25px 150px;
}

table {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:auto;
}

table td {
	padding:0px 5px 0px 5px;
}

.table_rank, .table_position, .table_fantasy_points, .table_dollar_value, #table_rank_title, #table_position_title, #table_name_title, #table_fantasy_points_title, #table_dollar_value_title {
	text-align:center;
}

#footer {
	height:50px;
	margin:0;
	position:relative;
	clear:both;
	background-color:#555555;
	border-radius:10px;
	box-shadow: 0px 0px 1px 1px #DDDDDD;
}

#footer ul {
	margin:0;
}

#footer ul li {
	width:250px;
	margin:15px 0px 0px 0px;
	display: inline-block;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	text-indent:none;
}

#footer a {
	color:#FFFFFF;
}
